font-size = 1.6rem
color-bg-primary = #283593
color-txt-primary = #fff
color-bg-secondary = #fff
color-txt-secondary = #000
color-bg-input = #fff
color-bg-input-inactive = #bbb
color-action = #289386
height-nav = 9vh
height-content = 91vh